# Swift Package Manager
.build/
*.xcodeproj
!Fixtures/PreviewFixture/PreviewFixture.xcodeproj/
!Fixtures/PreviewFixture/PreviewFixture.xcodeproj/project.pbxproj
.swiftpm/

# Xcode
xcuserdata/
*.xcworkspace
!default.xcworkspace

# macOS
.DS_Store

# Swift
*.swiftmodule
*.swiftdoc
